.icons {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.icon-delete {
  color: #750008;
}

.icon-edit {
  color: #CFC815;
}

.description {
  max-width: 207px;
  min-width: 207px;
}
.taskName {
  max-width: 90px;
  min-width: 90px;
}
  .information-task {
    background-color:#F0F0F2;
    font-size: 12px;
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    color: #333333;
    border-radius: 6px;
    margin-bottom: 7px;
    padding: 5px;
    justify-content: space-around;
  }