

/* .input-animation {
  border: 1px solid red;
  display: none;
  animation: fade1 0.9s forwards;
}

.icon-animation {
  display: flex;
}

@keyframes fade1 {
  from {
    width: 0px;
  }
  to {
    width: 30px;
  }
}

@keyframes fade2 {
  from {
    width: 0px;
  }
  to {
    width: 0px;
  }
}

.icon-animation:hover + .input-animation{
    display: flex;
}

.icon-animation:hover {
  display: none;
} */